.nav-header {
  height: 11vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #141414;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}

.nav-link {
  text-decoration: none;
  margin: 8px;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  margin-right: 10px;
}
.main-container {
  display: flex;
  justify-content: space-between;
}

.blog-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 50px;
}
.blog-title {
  font-family: Roboto;
  color: white;
  font-size: 16px;
}
.sub-title {
  color: white;
  font-family: Roboto;
  margin-top: 0px;
}

@media screen and (min-width: 575px) {
  .blog-title {
    font-family: Roboto;
    color: white;
    font-size: 34px;
  }
}

.img-logo {
  height: 40px;
  width: 100px;

  margin: 20px;
}
.img-logo2 {
  margin: 15px;
}
.img-cont {
  display: flex;
  justify-content: space-around;
}

.logout-button {
  height: 40px;
  width: 100px;
  background-color: #fb923c;

  border-radius: 10px;
  border-width: 0px;
  color: #ffffff;
  font-size: 15px;
}

.but-cont {
  display: flex;
  align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
