.blog-list-container {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  height: 150vh;
}
.main-movie-cont {
  display: flex;
  flex-direction: column;
  background-image: url('https://image.tmdb.org/t/p/w500/2CAL2433ZeIihfX1Hb2139CX0pW.jpg');

  width: 100%;
}

.img-list-cont {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.img-list-cont::-webkit-scrollbar {
  display: none;
}
.head {
  font-family: HK Grotesk;
  font-size: 30px;
  color: #ffffff;
  font-weight: 200px;
  font-style: normal;
  margin-left: 200px;
}
