.back-cont {
  display: flex;
  flex-direction: column;
  background-color: #131313;
  height: 100vh;
}
.about-img {
  height: 400px;
  width: 500px;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align: center;
  align-items: center;
}
